@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(119,136,153);
}

.navbar_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 2rem;
  padding: 1rem 0;
}

.logo {
  height: 80px;
}

.text_logo {
  font-size: 15px;
}

.header {
  background: linear-gradient(0deg, rgba(251,63,240,0.9668242296918768) 0%, rgba(119,0,255,1) 95%);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px 0 60px;
  position: sticky;
  top: 0px;

}

.nav-list {
  display: flex;
  gap: 90px;
  list-style: none;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  text-decoration: line-through;
  color: wheat;
}

/* Final del NavBar */
/* Inicio de la primera Seccion */

.main {
  font-family: "Poppins", sans-serif;
  color: white;
}

.seccion {
  background: linear-gradient(180deg, rgba(251,63,240,0.9668242296918768) 0%, rgba(119,0,255,1) 95%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  margin: 3rem 6rem;
}

@media screen and (max-width: 768px){
  .seccion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.text_title{
  color: black;
  font-family: "Pacifico", sans-serif;
  font-size: 7vh;
}

.datos p{
  display: flex;
  padding: 1rem 0;
}

.botones {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

@media screen and (max-width: 768px){
  .botones {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.primero {
  width: 120px;
  height: 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
}

.primero:hover {
  background-color: wheat;
  color: black;
}

.secundario {
  width: 120px;
  height: 30px;
  border-radius: 20px;
  border: none;
  margin-right: 20px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  background-color: wheat;
}

.secundario:hover {
  background-color: black;
  color: white;
}

.imagen {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

@media screen and (max-width: 768px){
  .imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.imag {
  width: 230px;
  height: 230px;
}

/* Final de la primera Seccion */
/* Inicio de la segunda Seccion */

.sobre-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 30px;
  margin: 0 6rem;
  gap: 1rem;
}

/* Final de la segunda Seccion */

