@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}

.navbar_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 2rem;
  padding: 1rem 0;
}

.logo {
  height: 80px;
}

.text_logo {
  font-size: 15px;
}

.header {
  background: radial-gradient(circle, rgba(251,63,240,0.9668242296918768) 0%, rgba(119,0,255,1) 95%);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px 0 60px;
  position: sticky;
  top: 0px;

}

.nav-list {
  display: flex;
  gap: 90px;
  list-style: none;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  text-decoration: underline;
  color: white;
}

main {
  margin-right: 10vh;
  margin-left: 10vh;
}

.main {
  color: white;
}

.seccion {
  background: rgba(119,0,255,1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px;
  margin-top: 35px;
}


.primero {
  width: 130px;
  height: 28px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 20px;
  font-family: 'Poppins';
  background-color: black;
  color: white;
}

.secundario {
  width: 130px;
  height: 28px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  font-family: 'Poppins';
}

.sobre-nosotros {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 50px;
}

.imagen {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 200px;
  width: 200px;
  background: url(./img/componentesPC.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

footer{
  color: grey;
}
